<div class="header-content">
    Quản lý sản phẩm
</div>
<button nz-button nzType="primary" class="my-2" (click)="openModalCreate()">Thêm sản phẩm</button>
<nz-table #basicTable [nzData]="productTable" [nzFrontPagination]="false" [nzNoResult]="'Bạn chưa có sản phẩm nào'"
    [nzShowPagination]="false">
    <thead>
        <tr>
            <th>STT</th>
            <th>Hình ảnh</th>
            <th>Tên sản phầm</th>
            <th>Danh mục</th>
            <th>Ghi chú</th>
            <th>Giá</th>
            <th>Kích cỡ</th>
            <th>Tình trạng</th>
            <th>Chiết khấu</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of basicTable.data; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
                <span *ngFor="let img of product.imgProduct" class="mx-1">
                    <img src="{{getBaseImg(img)}}" height="30px" width="30px" />
                </span>
            </td>
            <td>{{ product.productName }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.note }}</td>
            <td>{{ product.price | currency: "VND":true }}</td>
            <td>{{ product.size }}</td>
            <td>{{ product.status }}</td>
            <td>- {{ product.priceSale || 0 }} %</td>
            <td>
                <button nz-button nzType="primary" class="mr-2" (click)="openModalUpdate(product)">Chỉnh sửa</button>
                <button nz-button nzType="danger" (click)="openModalDelete(product)">Xóa</button>
            </td>
        </tr>
    </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isVisibleMiddle" nzTitle="{{ titleModal }}" nzClosable="false" nzCentered
    (nzOnCancel)="handleCancelMiddle()" (nzOnOk)="handleOkMiddle(product)">
    <form [formGroup]="formProduct">
        <div class="d-flex">
            <label class="col-3 p-2">Tên sản phẩm</label>
            <input type="text" class="form-control" formControlName="productName" />
        </div>
        <div class="d-flex">
            <label class="col-3 p-2">Danh mục</label>
            <select class="form-control" formControlName="category">
                <option ngValue="ao-nam">Áo Nam</option>
                <option ngValue="ao-khoac-nam">Áo khoác nam</option>
                <option ngValue="quan-dui-nam">Quần đùi nam</option>
                <option ngValue="quan-dai-nam">Quần dài nam</option>
                <option ngValue="giay-nam">Giày nam</option>
                <option ngValue="phu-kien-nam">Phụ kiện nam</option>
                <option ngValue="ao-nu">Áo Nữ</option>
                <option ngValue="ao-khoac-nu">Áo khoác nữ</option>
                <option ngValue="quan-dui-nu">Quần đùi nữ</option>
                <option ngValue="quan-dai-nu">Quần dài nữ</option>
                <option ngValue="giay-nu">Giày nữ</option>
                <option ngValue="phu-kien-nu">Phụ kiện nữ</option>
            </select>
        </div>

        <div class="d-flex">
            <label class="col-3 p-2">Giá</label>
            <input type="number" class="form-control" formControlName="price" />
        </div>
        <div class="d-flex">
            <label class="col-3 p-2">Mô tả</label>
            <textarea class="form-control my-2" formControlName="note"></textarea>
        </div>
        <div class="d-flex">
            <label class="col-3 p-2">Tình trạng</label>
            <select class="form-control" formControlName="status">
                <option value="Còn hàng">Còn hàng</option>
                <option value="Hết hàng">Hết hàng</option>
                <option value="Best Seller">Best Seller</option>
                <option value="sale">Sale</option>
            </select>
        </div>
        <div class="d-flex" *ngIf="formProduct.value.status === 'sale'">
            <label class="col-3 p-2">Giá khuyến mãi</label>
            <input type="number" class="form-control" formControlName="priceSale" />
        </div>
        <div class="d-flex">
            <label class="col-3 p-2">Kích cỡ</label>
            <input type="text" class="form-control" formControlName="size" />
        </div>
    </form>
    <label class="col-3 p-2">Hình ảnh</label>
    <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload a file..." multiple />
    <div>
        <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180" />
    </div>
</nz-modal>
<nz-modal [(nzVisible)]="isVisibleDelete" nzClosable="false" nzTitle="Yêu cầu xác nhận ?" nzCentered
    (nzOnCancel)="handleCancelMiddle()" (nzOnOk)="deleteProduct(product._id)">
    Bạn chắc chắn muốn Xóa <strong>{{ product?.productName }}</strong>?
</nz-modal>