<footer class="footer">
    <div class="container">

        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="">Hotline</a></li>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Chính sách</a></li>

                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    <i class="fa fa-lg font-weight-bold fa-map-marker" aria-hidden="true"></i>: 42/22E, TON THAT THIEP STREET, BEN NGHE WARD, DISTRICT 1
                </span>
            </div>
        </div>
    </div>
</footer>