<div class="wrapper" style="margin-top:70px">
    <div class="">
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let img of listBackground">
                <img src="{{getBaseImg(img)}}">
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="main">
        <div class="section" *ngIf="productList?.length > 0">
            <div class="container text-center">
                <h3>{{title}}</h3>
                <div class="container">
                    <nz-select nzPlaceHolder="Sắp xếp" [(ngModel)]="filterOption"
                        (ngModelChange)="changedSelect(filterOption)">
                        <nz-option nzValue="t-c" nzLabel="Giá: Thấp đến Cao"></nz-option>
                        <nz-option nzValue="c-t" nzLabel="Giá: Cao đến Thấp"></nz-option>
                        <nz-option nzValue="a-z" nzLabel="Tên: Từ A - Z"></nz-option>
                        <nz-option nzValue="z-a" nzLabel="Tên: Từ Z - A"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div class="m-5">
                <div class="row">
                    <div class="col-md-4" *ngFor="let product of productList">
                        <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template ngbSlide *ngFor="let img of product?.imgProduct">
                                    <img [routerLink]="['/detail', product._id]" src="{{getBaseImg(img)}}">
                                    <div class="carousel-caption">
                                        <p>{{product.productName}}</p>
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                            <div class="text-center w-100 p-2">
                                <h6 class="font-weight-bold">{{product.productName}} </h6>
                                <p *ngIf="!product.priceSale" class="font-weight-bold">{{product.price | currency :
                                    "VND":true}}</p>
                                <p *ngIf="product.priceSale"> <span class=" font-weight-bold text-danger">{{
                                        calculatorSale(product) | currency : "VND":true}}</span>
                                    <s class="m-0 pl-2">{{product.price | currency : "VND":true}} </s>
                                    <span class="font-weight-bold text-danger">(-{{product.priceSale}} %)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section text-center" *ngIf="productList?.length < 1">
            <h5>Hiện tại sản phẩm đang được cập nhật. Vui lòng thử lại sau.</h5>
        </div>
    </div>
</div>