<div class="main h-100">
    <div class="section text-center">
        <div class="container">
            <nz-steps [nzCurrent]="current" nzProgressDot>
                <nz-step nzTitle="Giỏ hàng"></nz-step>
                <nz-step nzTitle="Thông tin thanh toán"></nz-step>
                <nz-step nzTitle="Hoàn tất"></nz-step>
            </nz-steps>

            <div class="steps-content p-0">
                <div [ngSwitch]="current">
                    <div *ngSwitchCase="0">
                        <div class="h-100">
                            <div class="col-md-8 mr-auto ml-auto">
                                <h3 class="title">Giỏ hàng</h3>
                                <h5 class="description">
                                    Tổng số đơn hàng: {{count}}
                                </h5>
                                <br>
                                <nz-table #basicTable [nzData]="listCart" [nzFrontPagination]="false"
                                    [nzNoResult]="'Bạn chưa có đơn hàng nào. Hãy tiếp tục mua sắm nhé ^^'"
                                    [nzShowPagination]="false">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Số lượng</th>
                                            <th>Kích cỡ</th>
                                            <th>Giá</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of listOfData;let i = index;">
                                            <td>{{ i +1 }}</td>
                                            <td>{{ data.product.productName }}</td>
                                            <td>{{ data.number }}</td>
                                            <td> {{data.size}} </td>
                                            <td>
                                                <p *ngIf="!data.product.priceSale" class="font-weight-bold">{{
                                                    changeSelect(data.product ,data.number) | currency : "VND":true}}</p>
                                                <p *ngIf="data.product.priceSale"> <span class=" font-weight-bold text-danger">{{
                                                    changeSelect(data.product,data.number) | currency : "VND":true}}</span>
                                                    <s class="m-0 pl-2">{{data.product.price | currency : "VND":true}} </s>
                                                    <span class="font-weight-bold text-danger">(-{{data.product.priceSale}} %)</span>
                                                </p>
                                            </td>
                                            <td>
                                                <button>Hủy bỏ</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="1" class="d-flex h-100 flex-container">
                        <form class="flex-item-left" [formGroup]="orderForm">
                            <h6>Thông tin giao hàng:</h6>
                            <div class="d-flex  m-1">
                                <label class="col-4 m-auto">Họ và tên</label>
                                <input class="form-control" formControlName="username"
                                    [attr.disabled]="checkDisable('username')">
                            </div>
                            <div class="d-flex  m-1">
                                <label class="col-4 m-auto">Email</label>
                                <input class="form-control" formControlName="email">
                            </div>
                            <div class="d-flex  m-1">
                                <label class="col-4 m-auto">Số điện thoại</label>
                                <input class="form-control" formControlName="numberPhone">
                            </div>
                            <div class="d-flex m-1">
                                <label class="col-4 m-auto">Địa chỉ giao hàng</label>
                                <input class="form-control" formControlName="address">
                            </div>
                            <div class="d-flex m-1">
                                <label class="col-4 m-auto">Hình thức thanh toán: </label>
                                <input class="form-control" placeholder="COD" [disabled]="true">
                            </div>
                            <div>
                                <strong>Lưu ý:</strong>
                                <p class="p-0">
                                    1. Đơn hàng sẽ được xác nhận thông qua email hoặc bộ phận sale sẽ liên lạc với bạn
                                    trong 24h kể từ khi đơn hàng hoàn thành để xác nhận: thông tin nhận hàng, tổng hoá đơn và
                                    thời gian giao hàng. </p><br>
                                <p class="p-0">
                                    2. Đơn hàng của bạn sẽ được gửi đi trong 24h sau khi xác nhận, thời gian nhận hàng
                                    từ 1-3 ngày tuỳ vào vị trí giao hàng. <br></p>
                                <p class="p-0">
                                    3. Thực hiện thanh toán như tổng hoá đơn đã được xác nhận. Vui lòng lại hoá đơn được
                                    đính kèm ở đơn hàng để được hỗ trợ đổi (nếu có). <br></p>
                            </div>
                        </form>
                        <div class=" flex-item-right">
                            <nz-table #basicTable [nzData]="listCart" [nzFrontPagination]="false"
                            [nzNoResult]="'Bạn chưa có đơn hàng nào. Hãy tiếp tục mua sắm nhé ^^'"
                            [nzShowPagination]="false">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Kích cỡ</th>
                                    <th>Giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of listOfData;let i = index;">
                                    <td>{{ i +1 }}</td>
                                    <td>{{ data.product.productName }}</td>
                                    <td>{{ data.number }}</td>
                                    <td> {{data.size}} </td>
                                    <td>
                                        <p *ngIf="!data.product.priceSale" class="font-weight-bold">{{
                                            changeSelect(data.product ,data.number) | currency : "VND":true}}</p>
                                        <p *ngIf="data.product.priceSale"> <span class=" font-weight-bold text-danger">{{
                                            changeSelect(data.product,data.number) | currency : "VND":true}}</span>
                                            <s class="m-0 pl-2">{{data.product.price | currency : "VND":true}} </s>
                                            <span class="font-weight-bold text-danger">(-{{data.product.priceSale}} %)</span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <h6 class="font-weight-bold payment p-3">Cần thanh toán : <strong>{{totalPrice  | currency : "VND":true}}</strong></h6>
                        </div>
                    </div>
                    <div *ngSwitchCase="2">
                        <nz-result nzStatus="success" nzTitle="Đặt hàng thành công"
                            nzSubTitle="Cảm ơn bạn đã đặt hàng tại Joelandrachel. Joelandrachel chúc bạn có một ngày tốt lành !">
                        </nz-result>
                    </div>
                </div>
            </div>
            <div class="steps-action p-0">
                <div *ngIf="current === 0">
                    <button class="btn" nzType="default" [disabled]="listCart?.length < 1" (click)="next()">
                        Thanh toán
                    </button>
                </div>
                <div *ngIf="current === 1">
                    <button class="btn" nzType="default" (click)="pre()">
                        Giỏ hàng
                    </button>
                    <button class="btn" nzType="default" [disabled]="orderForm.invalid" (click)="complete()">
                        Hoàn tất đơn hàng
                    </button>
                </div>
                <div *ngIf="current === 2">
                    <button class="btn" nzType="default"  [routerLink]="['/home']">
                        Tiếp tục mua sắm
                    </button>

                </div>
            </div>
        </div>