<nav class="p-0 navbar navbar-expand-lg fixed-top navbar-transparent shadow-sm " color-on-scroll="500" style="z-index:100">
    <div class="container">
        <div class="navbar-translate d-flex w-100">
            <a class="navbar-brand" style="color:black" [routerLink]="['/home']">Joelandrachel.VN</a>
            <div class="d-lg-block d-none nav-item">
                <ul class="navbar-nav w-100">
                    <li class="pt-1 ">
                        <a nz-dropdown class="nav-link" rel="tooltip" data-placement="bottom" [nzDropdownMenu]="menu1">
                            <p>{{'NAVBAR.male.title' | translate}}</p>
                        </a>
                        <nz-dropdown-menu #menu1="nzDropdownMenu">
                            <ul nz-menu>
                                <li nz-menu-item [routerLink]="['/product', 'ao-nam']">{{'NAVBAR.male.children.menu1' |
                                    translate}}</li>
                                <li nz-menu-item [routerLink]="['/product', 'ao-khoac-nam']">
                                    {{'NAVBAR.male.children.menu2' | translate}}</li>
                                <li nz-submenu nzTitle="{{'NAVBAR.male.children.menu3' | translate}}"
                                    [routerLink]="['/product', 'quan-nam']">
                                    <ul>
                                        <li nz-menu-item [routerLink]="['/product', 'quan-dui-nam']">
                                            {{'NAVBAR.male.children.menu4' | translate}}</li>
                                        <li nz-menu-item [routerLink]="['/product', 'quan-dai-nam']">
                                            {{'NAVBAR.male.children.menu5' | translate}}</li>
                                    </ul>
                                </li>
                                <li nz-menu-item [routerLink]="['/product', 'giay-nam']">{{'NAVBAR.male.children.menu6'
                                    | translate}}</li>
                                <li nz-menu-item [routerLink]="['/product', 'phu-kien-nam']">
                                    {{'NAVBAR.male.children.menu7' | translate}}</li>
                            </ul>
                        </nz-dropdown-menu>
                    </li>
                    <li class="pt-1 ">
                        <a nz-dropdown class="nav-link" rel="tooltip" title="Like us on Facebook"
                            data-placement="bottom" [nzDropdownMenu]="menu2">
                            <p>{{'NAVBAR.female.title' | translate}}</p>
                        </a>
                        <nz-dropdown-menu #menu2="nzDropdownMenu">
                            <ul nz-menu>
                                <li nz-menu-item [routerLink]="['/product', 'ao-nu']">{{'NAVBAR.female.children.menu1' |
                                    translate}}</li>
                                <li nz-menu-item [routerLink]="['/product', 'ao-khoac-nu']">
                                    {{'NAVBAR.female.children.menu2' | translate}}</li>
                                <li nz-submenu nzTitle="{{'NAVBAR.male.children.menu3' | translate}}"
                                    [routerLink]="['/product', 'quan-nu']">
                                    <ul>
                                        <li nz-menu-item [routerLink]="['/product', 'quan-dui-nu']">
                                            {{'NAVBAR.female.children.menu4' | translate}}</li>
                                        <li nz-menu-item [routerLink]="['/product', 'quan-dai-nu']">
                                            {{'NAVBAR.female.children.menu5' | translate}}</li>
                                    </ul>
                                </li>
                                <li nz-menu-item [routerLink]="['/product', 'giay-nu']">{{'NAVBAR.female.children.menu6'
                                    | translate}}</li>
                                <li nz-menu-item [routerLink]="['/product', 'phu-kien-nu']">
                                    {{'NAVBAR.female.children.menu7' | translate}}</li>
                            </ul>
                        </nz-dropdown-menu>
                    </li>
                    <li class="pt-1 ">
                        <a class="nav-link" [routerLink]="['/product', 'new']" rel="tooltip"
                            title="Sản phẩm mới" data-placement="bottom">
                            <p>{{'NAVBAR.new' | translate}}</p>
                        </a>
                    </li>
                    <li class="pt-1 ">
                        <a class="nav-link" [routerLink]="['/product', 'sale']" rel="tooltip" title="Khuyến mãi"
                            data-placement="bottom">
                            <p>{{'NAVBAR.sale' | translate}}</p>
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav ml-auto flex-row d-flex">
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a *ngIf="!user" class="nav-link" rel="tooltip" title="Đăng nhập" data-placement="bottom">
                        <img src="../../../assets/svg/user.png" [routerLink]="['/signup']" height="20px" />
                    </a>
                    <a *ngIf="user" nz-dropdown class="nav-link" rel="tooltip" title="Hi {{user.username}}"
                        data-placement="bottom" [nzDropdownMenu]="menu4">
                        <div nz-dropdown class="bg-black"> {{user.username}}
                        </div>
                    </a>

                    <nz-dropdown-menu #menu4="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item *ngIf="user?.role == 'admin'" [routerLink]="['/admin']">Quản lý</li>
                            <li nz-menu-item [routerLink]="['/profile']">Hồ sơ</li>
                            <li nz-menu-item (click)="logout()">Đăng xuất</li>
                        </ul>
                    </nz-dropdown-menu>
                </li>

                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Giỏ hàng" data-placement="bottom">
                        <span class="notification">
                            <img src="../../../assets/svg/shopping-bag.png" height="20px" [routerLink]="['/cart']" />
                            <span class="badge">{{countCart}}</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a nz-dropdown class="nav-link text-lowercase" rel="tooltip" title="Ngôn ngữ"
                        data-placement="bottom" [nzDropdownMenu]="menu3">
                        <img height="20px" *ngIf="translate.currentLang =='vn'"
                            src="https://i.pinimg.com/originals/6a/64/cc/6a64ccd5e65bf699e1294320db23792c.png">
                        <img height="25px" *ngIf="translate.currentLang =='en'"
                            src="https://i.pinimg.com/736x/3e/8a/89/3e8a89276ea1747014bd014ffe6dc133.jpg">
                    </a>
                    <nz-dropdown-menu #menu3="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item (click)="translate.use('vn')">Tiếng Việt</li>
                            <li nz-menu-item (click)="translate.use('en')">English</li>
                        </ul>
                    </nz-dropdown-menu>
                </li>
            </ul>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse p-0" id="navbarToggler">
            <ul nz-menu nzMode="inline" style="width: 240px;" class=" d-lg-none" [nzTheme]=" 'light'">
                <li nz-menu-item >
                    <span>Trang chủ</span>
                  </li>
                <li nz-submenu nzTitle="Nam">
                  <ul>
                    <li nz-menu-item>Áo</li>
                    <li nz-menu-item>Áo khoác nam</li>
                    <li nz-submenu nzTitle="Quần">
                      <ul>
                        <li nz-menu-item>Quần đùi</li>
                        <li nz-menu-item>Quần dài</li>
                      </ul>
                    </li>
                    <li nz-menu-item>Giày</li>
                    <li nz-menu-item>Phụ kiện</li>
                  </ul>
                </li>
                <li nz-submenu nzTitle="Nữ">
                    <ul>
                        <li nz-menu-item>Áo</li>
                        <li nz-menu-item>Áo khoác nữ</li>
                        <li nz-submenu nzTitle="Quần">
                          <ul>
                            <li nz-menu-item>Quần đùi</li>
                            <li nz-menu-item>Quần dài</li>
                          </ul>
                        </li>
                      <li nz-menu-item>Giày</li>
                      <li nz-menu-item>Phụ kiện</li>
                    </ul>
                  </li>
                  <li nz-menu-item >
                    <span>Sản phẩm mới</span>
                  </li>
                  <li nz-menu-item >
                    <span>Khuyến mãi</span>
                  </li>
              </ul>
        </div>
    </div>
</nav>