<div class="main">
    <div class="m-5">
        <div class="row">

            <div class="col-md-6">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide *ngFor="let img of product?.imgProduct">
                            <img nz-image nzSrc="http://localhost:8080/{{img}}" alt="Random first slide">
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
            <div class="col-md-6" *ngIf="product">
                <div class="info">
                    <h5 class="font-weight-bold">
                        {{product.productName}}
                    </h5>
                    <div class="description">
                        <p class="">Mã sản phẩm: {{product._id}}</p>
                        <p class="info-title font-weight-bold">Kích thước: {{product.size}}</p>
                        <nz-divider class="m-1"></nz-divider>
                        <p class="">Số lượng</p>
                        <nz-select [(ngModel)]="selectedDefault" (ngModelChange)="changeSelect($event)">
                            <nz-option *ngFor="let p of arrayNumber" [nzValue]="p" [nzLabel]="p"></nz-option>
                        </nz-select>
                        <nz-divider class="m-1"></nz-divider>
                        <p *ngIf="!product.priceSale" class="font-weight-bold">{{product.price | currency :
                            "VND":true}}</p>
                        <p *ngIf="product.priceSale"> <span class=" font-weight-bold text-danger">{{
                            changeSelect(selectedDefault) | currency : "VND":true}}</span>
                            <s class="m-0 pl-2">{{product.price | currency : "VND":true}} </s>
                            <span class="font-weight-bold text-danger">(-{{product.priceSale}} %)</span>
                        </p>
                        <div *ngIf="product.status == 'Hết hàng'">
                            <button type="button" disabled="true" class="w-100 btn btn-default">Hết hàng</button>
                        </div>
                        <div *ngIf="product.status !== 'Hết hàng'">
                            <button type="button" class="w-100 btn btn-default" (click)="addCart()">Thêm vào
                                giỏ</button>
                        </div>
                        <nz-divider class="m-1"></nz-divider>
                        <p class="info-title font-weight-bold"> Mô tả: {{product.note}}</p>
                        <p class="info-title font-weight-bold">Hướng dẫn chọn size:</p>
                        <p class="">
                            S: từ 45kg đến 55kg - 1m45 đến 1m60 <br>

                            M: từ 55kg đến 65kg - 1m6 đến 1m7<br>

                            L: từ 65 đến 80kg - 1m7 đến 1m85<br>

                            XL: từ 80kg đến 110kg - 1m8 trở lên<br>

                            Kích thước tee: S: 72x56 M: 74x58 L: 76x60 XL: 80x64<br>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-dark text-center">
        <div class="container">
            <h3 class="title m-1">Một số hình ảnh</h3>
            <div class="row">
                <div *ngFor="let img of product?.imgProduct" class="col-md-4">
                    <div class="card">
                        <img nz-image nzSrc="http://localhost:8080/{{img}}" alt="Random first slide">
                        <div class="card-block">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>